<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="form" novalidate>
      <ion-item-group>
        <ion-item-divider color="medium">Usuario</ion-item-divider>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input type="text" formControlName="displayName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Telefono:</ion-label>
          <ion-input type="tel" formControlName="phoneNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>E-Mail:</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group formGroupName="mp_config">
        <ion-item-divider color="medium">Mercado Pago</ion-item-divider>
        <ion-item>
          <ion-label>E-Mail:</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Public Key:</ion-label>
          <ion-input type="text" formControlName="public_key"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Access Token:</ion-label>
          <ion-input type="text" formControlName="access_token"></ion-input>
        </ion-item>
      </ion-item-group>
    </form>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button type="submit" (click)="onSubmit()" [disabled]="!form.valid || !isChanged">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>