<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Ayuda blabla...</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas atque deserunt cupiditate qui rem modi expedita inventore natus consequatur vitae. Sapiente molestiae in hic natus ea quis placeat fugiat ducimus?
  </p>
</ion-content>