<ion-app style="background: var(--ion-color-medium);">
  <ion-split-pane style="--border: 0;">
    <ion-menu>
      <ion-header>
        <ion-toolbar color="dark">
          <ion-title color="warning">ShopMax</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="medium">
        <ion-list color="medium" no-padding>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let idx=index;">
            <ion-item *ngIf="!p?.isDivisor else divisor;" [routerDirection]="'root'" [routerLink]="p?.url"
              [color]="(selectedMenu == idx)?'light':'medium'">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title }}
              </ion-label>
            </ion-item>
            <ng-template #divisor>
              <ion-item-divider color="medium"></ion-item-divider>
            </ng-template>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" [routerDirection]="'root'" routerLink="/login" color="medium">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>