<ion-list padding>

  <ion-item text-center color="dark">
    <ion-label color="warning">Bienvenido a ShopMax!</ion-label>

  </ion-item>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" novalidate>
    <ion-item>
      <ion-icon name="at"></ion-icon>
      <ion-input type="email" formControlName="email" aria-label="email" required autocomplete="on" autocorrect="on" autofocus></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key"></ion-icon>
      <ion-input padding-rigth type="password" aria-label="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-item color="none" lines="none">
      <ion-button (click)="resetPassword()" color="dark" slot="end" fill="outline" shape="round" size="small"
        [disabled]="!loginForm.controls.email.valid">
        <small>Olvide mi contraseña!</small>
      </ion-button>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button  (click)="onSubmit($event)" color="tertiary" [disabled]="!loginForm.valid">
        <ion-icon name="log-in"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-list>