<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Ventas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Monto:</ion-label>
      <ion-input type="number" [(ngModel)]="monto" required></ion-input>
    </ion-item>
    <ion-button (click)="loadScript()">Aceptar</ion-button>
    <ion-item name="pagoButton" text-center>
      <ion-button *ngIf="loaded" class="button.mercadopago-button">Cta. Cte.</ion-button>
      <ion-button *ngIf="loaded" class="button.mercadopago-button" slot="start">Contado</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <h1>Tarjetas de Prueba</h1><br>
    <p>      
      4509 9535 6623 3704 <br>
      5031 7557 3453 0604 <br>
      3711 803032 57522<br>
    </p>
</ion-footer>